




<body>
    <header>Administrator Dashboard</header>
    <ul class="nav flex-column" style="margin-top: 10px; padding-top: 75px">
        <li class="nav-item">
          <a class="nav-link active" href="#">Search for donor
        </a>
        <li class="nav-item">
            <a class="nav-link active" href="#">Search by blood type
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="#">Blood Statistics By Location
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="#">Add Appointment
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="#">Update Donor Account
              </a>
              <li class="nav-item">
                <a class="nav-link active" href="#">
              </a>
              </li>
          </a></li></ul>


