



 <header><span id="dashboard">Administrator Dashboard</span>
        <form>
          <div id="adminname" class="form-group mx-sm-3 mb-2">
            <label for="exampleFormControlInput1">Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div id="Role" class="form-group mx-sm-3 mb-2">
            <label for="exampleFormControlSelect1">Role</label>
            <select class="form-control" id="exampleFormControlSelect1"></select>
            </div>
            <br></br>
            
      </header>
    <br></br>


    <div class="card">
        <div class="card-header">
         SEARCH FOR DONOR
        </div>
            <ul class="nav flex-column" style="margin-top: 10px; padding-top: 75px">
                <li class="nav-item">
                  <a id="fetchdonor" class="nav-link active" href="#">Search for donor
                    <div id="donorresults"></div>
                </a>
      </div>

      <div class="card">
        <div class="card-header">
        UPDATE APPOINTMENT 
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Donor name</label>
                  <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Date</label>
                  <input type="Date" class="form-control" id="exampleFormControlInput1" placeholder="">
                </div>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Attended</option>
                    <option>Not attended</option>
                  </select>
                </div>
            <button type="button" class="btn btn-light" id="attended-appointment">Update Donor Account to say attended appointment</button>
            <ul class="list-group" id="update-if-attended-appointment"></ul>
            </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
        ADD NEW APPOINTMENT 
        </div>
        <div class="card-body">
            <form class="p-5 col-8" id="appointment-form">
                <div class="form-group">
                  <label for="username">Donor number</label>
                  <input
                    type="username"
                    class="form-input"
                    id="username"
                    aria-describedby="usernameHelp"
                    placeholder="Enter Donor number"
                  />
                  <small id="donornumber class="form-text text-muted"
                </div>
                <div class="form-group">
                  <label for="Date">Product</label>
                  <input
                    type="date"
                    class="form-input"
                    id="date"
                    placeholder="datet"
                  />
                </div>
                <div class="form-group">
                  <label for="time">time</label>
                  <input
                    type="time"
                    class="form-input"
                    id="time"
                    placeholder="time"
                  />
                </div>
        </div>
            </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
        FIND DONOR AND DONATION HISTORY
        </div>
        <div class="card-body">
            <div class="dropdown show">
                <a id="fetchhistory" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Blood donation history
                </a>
              </div>
            </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
         FIND DONORS BY BLOODTYPE
        </div>
        <div class="card-body">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Search for donors by blood type
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">A+</a>
                  <a class="dropdown-item" href="#">A-</a>
                  <a class="dropdown-item" href="#">B+</a>
                  <a class="dropdown-item" href="#">B-</a>
                  <a class="dropdown-item" href="#">O+</a>
                  <a class="dropdown-item" href="#">O-</a>
                  <a class="dropdown-item" href="#">AB+</a>
                  <a class="dropdown-item" href="#">AB-</a>
                </div>
              </div>
              </div>
                </a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
       DELETE DONOR ACCOUNT
        </div>
        <div class="card-body">
           <input type="hidden" id="selectedItemId" value="<id of your selected item>">
            <button type="button" class="btn btn-light" id="delete-donor-account">Delete donor account</button>
                    <ul class="list-group" id="update-if-attended-appointment"></ul>
            </div>
        </div>
      </div>



<header>      
      <h1>Administrator Dashboard</h1>
      <div class="d-grid  d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2" id="logout" type="button">Logout</button>
        </div>
  </header>


    <ul class="nav flex-column" style="margin-top: 10px; padding-top: 75px">
        <li class="nav-item">
          <a class="nav-link active" href="#">Search for donor
        </a>
        <li class="nav-item">
            <a class="nav-link active" href="#">Search by blood type
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="#">Blood Statistics By Location
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="#">Add Appointment
          </a>
          <li class="nav-item">
            <a class="nav-link active" href="#">Update Donor Account
          </a></li></ul>


<script src="./js/adminDash.js"></script>

