<header><h1 class="text-center" id="dashboard">Administrator Dashboard</h1>
  <form>
    <div id="adminname" class="form-group mx-sm-3 mb-2">
      <label for="exampleFormControlInput1">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div id="Role" class="form-group mx-sm-3 mb-2">
      <label for="exampleFormControlSelect1">Role</label>
      <select class="form-control" id="exampleFormControlSelect1"></select>
    </div>
    <div class="d-grid  d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" id="logout" type="button">Logout</button>
    </div>
    <br></br>
  </form>
</header>
<br></br>


<div class="card">
  <div class="card-header">
    SEARCH FOR DONOR
  </div>
  <br></br>
  <div id="form-doner" class="form-group">
    <label for="username">Donor number</label>
    <input type="username" class="form-input" id="donerID" aria-describedby="usernameHelp"
      placeholder="Enter Donor number" />
    <small id="donornumber" class="form-text text-muted"></small>
    <button id="fetchdonor" value='fetchdonor'>Submit</button>
  </div>
</div>

<br></br>

<div class="card">
  <div class="card-header">
    UPDATE APPOINTMENT
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Donor number</label>
        <input type="donornumber" class="form-control" id="donerNumber" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Date</label>
        <input type="Date" class="form-control" id="donerDate" placeholder="">
      </div>
      <input type='checkbox' id='has_attended' name='Attended' />
      <label for='has_attended'>
        Check box if donor has attended appointment
      </label>
      <br />
      <button id="update-appointment" type="button">
        Submit
      </button>
    </form>
  </div>
</div>
</div>

<br></br>
<div class="card">
  <div class="card-header">
    ADD NEW APPOINTMENT
  </div>
  <div class="card-body">
    <form class="p-5 col-8" id="appointment-form">
      <div class="form-group">
        <label for="username">Donor number</label>
        <input type="username" class="form-input" id="donerNumberAdd" aria-describedby="usernameHelp"
          placeholder="Enter Donor number" />
        <small id="donornumber2" class=" form-text text-muted"></small>
        <div class="form-group">
          <label for="Date">Product</label>
          <input type="date" class="form-input" id="product" placeholder="date" />
        </div>
        <div class="form-group">
          <label for="time">time</label>
          <input type="time" class="form-input" id="time" placeholder="time" />
        </div>
        <button id="add-appointment" type="button">
          Add appointment
        </button>
      </div>
  </div>
</div>
</div>


<br></br>

<div class="card">
  <div class="card-header">
    FIND DONORS BY BLOODTYPE
  </div>
  <div class="card-body">
    <div class="dropdown show">
      <div id="location" class="form-group mx-sm-3 mb-2">
        <label for="exampleFormControlInput1">Location</label>
        <input type="location" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div id="bloodtype" class="form-group mx-sm-3 mb-2">
        <label for="exampleFormControlSelect1">Bloodtype</label>
        <select class="form-control" id="exampleFormControlSelect1"></select>
      </div>
      <button id="bloodlocation" type='search' value='Search'>
        Search
      </button>
    </div>
  </div>
  </a>
</div>
</div>
<br></br>
<div class="card">
  <div class="card-header">
    DELETE DONOR ACCOUNT
  </div>
  <br></br>
  <div class="form-group">
    <label for="username">Donor number</label>
    <input type="username" class="form-input" id="deleteDonorNum" aria-describedby="usernameHelp" placeholder="Enter Donor number" />
    <small id="donornumber" class="form-text text-muted"></small>
      <div class="card-body">
        <input type="hidden" id="selectedItemId" value="<id of your selected item>">
        <button type="button" class="btn btn-light" id="delete-donor-account">Delete donor account</button>
        <ul class="list-group" id="update-if-attended-appointment"></ul>
      </div>
  </div>
</div>




<script src="js/adminDash.js"></script>
