



    <header>Donor Dashboard</header>

    {{!-- Put name and date of birth in and change cards  --}}

    <ul class="nav flex-column" style="margin-top: 10px; padding-top: 75px">
      <li class="nav-item">
        <a class="nav-link active" href="#">View My Details
      </a>
      <li class="nav-item">
          <a class="nav-link active" href="#">Update Details
        </a>
        <li class="nav-item">
          <a class="nav-link active" href="#">Appointment History
        </a>
        <li class="nav-item">
          <a class="nav-link active" href="#">View Next Appointment
        </a>
        <li class="nav-item">
          <a class="nav-link active" href="#">Blood Donation Record
        </a>
        <li class="nav-item">
          <a class="nav-link active" href="#">View Blood Type
        </a></li></ul>
