<div class="col-sm-6">
        <div class="row justify-space-between-md">
            <div class="register-card">
                <h2 class="page-title">Register to Become a Blood Donor</h2>
                <form class="form signup-form" id="register">
                    <div class="form-group">
                        <label for="username-signup">First Name:</label>
                        <input class="form-input" type="text" id="first-name" />
                    </div>
                    <div class="form-group">
                        <label for="username-signup">Last Name:</label>
                        <input class="form-input" type="text" id="last-name" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Location:</label>
                        <select class="form-select" id="location">
                        <option value="Birmingham">Birmingham</option>
                        <option value="Bradford">Bradford</option>
                        <option value="Bristol">Bristol</option>
                        <option value="Cambridge">Cambridge</option>
                        <option value="Gloucester">Gloucester</option>
                        <option value="Lancaster">Lancaster</option>
                        <option value="Leeds City Centre">Leeds City Centre</option>
                        <option value="Leicester">Leicester</option>
                        <option value="Liverpool">Liverpool</option>
                        <option value="London Edgware">London Edgware</option>
                        <option value="London Tooting">London Tooting</option>
                        <option value="London West End">London West End</option>
                        <option value="London Westfield Shepherd’s Bush">London Westfield Shepherd’s Bush</option>
                        <option value="London Westfield Stratford City">London Westfield Stratford City</option>
                        <option value="Luton">Luton</option>
                        <option value="Manchester Plymouth Grove">Manchester Plymouth Grove</option>
                        <option value="Manchester City Centre">Manchester City Centre</option>
                        <option value="Newcastle">Newcastle</option>
                        <option value="Nottingham">Nottingham</option>
                        <option value="Oxford">Oxford</option>
                        <option value="Plymouth">Plymouth</option>
                        <option value="Poole">Poole</option>
                        <option value="Sheffield">Sheffield</option>
                        <option value="25">Southampton</option>
                        <option value="Stoke">Stoke</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="pwd" />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Contact Number:</label>
                        <input class="form-input" type="text" id="contact" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                        <select class="form-select" id="gender">
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="dobHelp" class="form-text">Enter your date of birth as: year-month-date </div>
                        <label for="password-signup">Date of Birth:</label>
                        <input class="form-input" type="text" id="dob" placeholder="1998-10-31" aria-describedby="dobHelp"/>
                        
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Age:</label>
                        <input class="form-input" type="text" id="age" />
                    </div>
                    <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input class="form-input" type="text" id="email" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Blood Type:</label>
                        <select class="form-select" id="blood-type">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="unknown">unknown</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" id="submit">signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<
<script src="./js/register.js"></script>