<div class="col-sm-6">
        <div class="row justify-space-between-md">
            <div class="register-card">
                <h2 class="page-title">Register to Become a Blood Donor</h2>
                <form class="form signup-form">
                    <div class="form-group">
                        <label for="username-signup">First Name:</label>
                        <input class="form-input" type="text" id="username-signup" />
                    </div>
                    <div class="form-group">
                        <label for="username-signup">Last Name:</label>
                        <input class="form-input" type="text" id="username-signup" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Location:</label>
                        <select class="form-select" id="inputGroupSelect01">
                        <option value="1">Birmingham</option>
                        <option value="2">Bradford</option>
                        <option value="3">Bristol</option>
                        <option value="4">Cambridge</option>
                        <option value="5">Gloucester</option>
                        <option value="6">Lancaster</option>
                        <option value="7">Leeds City Centre</option>
                        <option value="8">Leicester</option>
                        <option value="9">Liverpool</option>
                        <option value="10">London Edgware</option>
                        <option value="12">London Tooting</option>
                        <option value="13">London West End</option>
                        <option value="14">London Westfield Shepherd’s Bush</option>
                        <option value="15">London Westfield Stratford City</option>
                        <option value="16">Luton</option>
                        <option value="17">Manchester Plymouth Grove</option>
                        <option value="18">Manchester City Centre</option>
                        <option value="19">Newcastle</option>
                        <option value="20">Nottingham</option>
                        <option value="21">Oxford</option>
                        <option value="22">Plymouth</option>
                        <option value="23">Poole</option>
                        <option value="24">Sheffield</option>
                        <option value="25">Southampton</option>
                        <option value="26">Stoke</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Password:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Contact Number:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Gender:</legend>
                        <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                            <label class="form-check-label" for="gridRadios1">
                            Female
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                            Male
                            </label>
                        </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="password-signup">Date of Birth:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                        <label for="password-signup">Age:</label>
                        <input class="form-input" type="password" id="password-signup" />
                    </div>
                    <div class="form-group">
                        <label for="email-signup">Email:</label>
                        <input class="form-input" type="text" id="email-signup" />
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Blood Type:</label>
                        <select class="form-select" id="inputGroupSelect01">
                        <option value="1">A+</option>
                        <option value="2">A-</option>
                        <option value="3">B+</option>
                        <option value="4">B-</option>
                        <option value="5">O+</option>
                        <option value="6">O-</option>
                        <option value="7">AB+</option>
                        <option value="8">AB-</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script src="./js/register.js"></script>