
body {
    background-color: rgb(99, 4, 4);
  }
  
  header{
    background-color: rgb(48, 46, 46);
    color: aliceblue;
  }
  
  .dropdown-toggle{
    background-color: rgb(48, 46, 46);
    color: aliceblue;
  }
  
  .logo {
    color: aliceblue;
    
  }
  .carousel-inner > .item > img {
      width:640px;
      height:360px;
    }
  
  .carousel-caption {
      position: absolute;
      margin: 0;
      color: white;
      font-weight:;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  
    .carousel-caption p {
      font-size: 20px;
      font-weight: 700;
    }
  
    .carousel-caption h1 {
      font-size: 60px;
      font-weight: 900;
    }