* {
    padding: 0;
    margin: 0;
    --backgroundcolor:#990000 ;
    --secondcolor: #111109;
    --textcolor: #a6a6a6;
    background-color: #990000;
    color: #a6a6a6;
}

html,
body {
    scroll-behavior: smooth;
    min-height: 100vh; 
    background-color: var(--backgroundcolor); 
}

#dashboard {
    background-color: var(--secondcolor);
}


header {
    display: grid;
    text-align: center;
    background-color: var(--secondcolor);
    font-style: bold;
    font-size: 250%;    
}

